.timelineWrapper {
  width: 100%;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.content {
  width: 80vw;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  padding-bottom: 5rem;
  border-radius: 12px;
  text-align: center;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .content {
    width: 90%;
    padding: 1.5rem;
    height: auto;
  }
}
